*{
	margin: 0px;
	padding: 0px;
	font-family: 'Nunito', sans-serif;
}
ul{
	list-style: none;
	padding-left: 50px;
	color: white;
	margin: auto;
}
li{
	margin: 	auto;
	display: inline;
	padding-right:50px;
	padding-top: 	20px;
	color: white;
}
a{
	color: 	black;
	text-decoration: 	none;	
	font-weight: bold;
}
a:hover{
	color: #5c91a3;
}
.main-container
{
	width: 100%;
	height: 100%;
	
}
.upper-container{
	width: 	100%;
	height: 	435px;
	margin: 	auto;							
	background-image: 		url(../images/rara.png);
	background-position: 	center;	
	background-repeat: 	no-repeat;	
	background-size: 1500px,450px;
	margin-bottom: 13px;
	
}	
.menubarcontainer{
	width: 	1090px;
 	background-position: center;
	margin: 	auto;	
	padding-top: 28px;
 	padding-left: 10px;
  padding-right: 25px;
	height: 47px;
	color: white;
	

}
.logo{

	margin: auto;	
	float: 	left;	
	position: absolute;
	width: 71px; 
	height: 70px;
	top: 5px;
	
	background-repeat: 	no-repeat;	

}
.social-site{
	float: 	right;	
	margin: 	auto;	
	font-size: 12px;
	
}
.menubar{
	font-size: 12px;
	float: left;
	text-align: left;
	width: 630px;
	margin-bottom: 100px;
}
.right-text-upper-container{
	clear: both;
	background-position: center;
	position: relative;
	margin: auto;
	width: 400px;
	height: 150px;
	background-color: #74C4Db;
	clear: both;	
}
.pfontfirst{
	color: #ffffff;
	padding-top: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
.middle-container{
	width: 1090px;
	margin-top: 2	px;
	margin: auto;
	height: 300px;


}
.about{
	width: 312px;
	padding-left: 40px;
	float: left;

}
.gap
{
	padding-top: 20px;
	color: black;
	padding-bottom: 20px;
}
.award{
	width: 312px;
	padding-left: 20px;
	float: left;

}
.community{
	width: 312px;
	padding-left: 20px;
	margin-bottom: 80px;
	float: left;


}
.button-section{
	clear: both;
	width: 350px;
	margin: auto;
}
.buttonOne
{	
	clear: both;
	width: 105px;
	margin-top: 5px;
	padding: 5px;
	font-size: 18px;
	float: left;
	text-align: center;     
}
.buttonTwo
{		
	float: left;	
	margin-left: 35px;
	width: 105px;
	margin-top: 5px;
	padding: 5px;
	border: 0px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
}
.blue-button{
 border: 0; 
 background: #74C4DB;
 color: white; 
 width: 115px; 
 height: 35px; 	
 font-size: 13px;
}
.another-button{
 border: 0; 
 background: #9a9a9a;
 color: white; 
 width: 115px; 
 height: 35px; 	
 font-size: 13px;
}
.middle-container-Two{	
	clear: both;
	margin-top: 50px;
	width: 1090px;
	margin: auto;
	background-color:  #E3E3E3;
	
}
.lastest-tournament{
	padding-top: 40px;
	width: 1090px;
	margin: auto;
	background-color: #e3e3e3;

}
.viewpic1{
	width: 265px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	float: left;
	background-color: #E3E3E3;
	height: 180px;
}
.viewpic2{
	width: 268px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	margin-left: 5px; 
	float: left;
	height: 180px;
	background-color: #E3E3E3;
}
.viewpic3{
	width: 270px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	margin-left: 5px;
	float: left;
	height: 180px;
	background-color: #E3E3E3;
}
.viewpic4{
	width: 272px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	margin-left: 5px; 
	float: left;
	height: 180px;
	background-color: #E3E3E3;
}
.eventname{
	width: 272.5px;
	float: left;
	background-color: #E3E3E3;
}
.eventdetails{
	width: 272.5px;
	height: 100px;
	float: left;
	background-color: #E3E3E3;
}
.button-section-event{
	clear: both;
	width: 1090px;
	margin: auto;
}
.button-detail1
{
	float: left;
	width: 272.5px;
	margin-top: 5px;
	padding: 5px;
	color: white;
	background-color: #74C4DB;
	font-size: 18px;
	text-align: center;     
}
.button-detail2
{
	float: left;
	width: 272.5px;
	margin-top: 5px;
	padding: 5px;
	color: white;
	background-color: #74C4DB;
	font-size: 18px;
	text-align: center;     
}
.button-detail3
{
	float: left;
	width: 272.5px;
	margin-top: 5px;
	padding: 5px;
	color: white;
	background-color: #74C4DB;
	font-size: 18px;
	text-align: center;     
}
.button-detail4
{
	float: left;
	width: 272.5px;
	margin-top: 5px;
	padding: 5px;
	color: white;
	background-color: #74C4DB;
	font-size: 18px;
	text-align: center;     
}
